<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
       <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>
        <h4>Enter all the details to proceed to the next step</h4>
        <nb-card>
          <nb-card-header>Personal Details</nb-card-header>
          <nb-card-body>
            <form [formGroup]="firstForm">
              <div class="form-group row">
                <label for="inputName" class="label col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth formControlName="name" placeholder="Name"
                    [status]="(firstForm.get('name').invalid&& (firstForm.get('name').dirty || firstForm.get('name').touched) )? 'danger' : 'basic' ">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputAge" class="label col-sm-3 col-form-label">Age</label>
                <div class="col-sm-9">
                  <input type="number" nbInput fullWidth formControlName="age" placeholder="Age"
                    [status]="(firstForm.get('age').invalid&& (firstForm.get('age').dirty || firstForm.get('age').touched) )? 'danger' : 'basic' ">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" nbInput fullWidth formControlName="email" placeholder="Email"
                    [status]="(firstForm.get('email').invalid&& (firstForm.get('email').dirty || firstForm.get('email').touched) )? 'danger' : 'basic' ">
                </div>
              </div>
              <button type="button" nbButton nbStepperNext (click)="onFirstFormSubmit()"
                [disabled]="firstForm.invalid">next</button>
            </form>
          </nb-card-body>
        </nb-card>


      </nb-step>


      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Second step</ng-template>
        <h4>Enter all the details to proceed to the next step</h4>
        <nb-card>
          <nb-card-header>Diseases Details</nb-card-header>
          <nb-card-body>
            <form [formGroup]="secondForm">
              <div class="form-group row">
                <label for="inputDiseasesName" class="label col-sm-3 col-form-label">Diseases Name</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth formControlName="diseasesName" placeholder="Diseases Name"
                    [status]="(secondForm.get('diseasesName').invalid&& (secondForm.get('diseasesName').dirty || secondForm.get('diseasesName').touched) )? 'danger' : 'basic' ">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputDoctorsName" class="label col-sm-3 col-form-label">Doctor's Name</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth formControlName="doctorsName" placeholder="Doctor's Name"
                    [status]="(secondForm.get('doctorsName').invalid&& (secondForm.get('doctorsName').dirty || secondForm.get('doctorsName').touched) )? 'danger' : 'basic' ">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputHospitalsName" class="label col-sm-3 col-form-label">Hospital's Name</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth formControlName="hospitalsName" placeholder="Hospital's Name"
                    [status]="(secondForm.get('hospitalsName').invalid&& (secondForm.get('hospitalsName').dirty || secondForm.get('hospitalsName').touched) )? 'danger' : 'basic' ">
                </div>
              </div>


              <div class="form-group row">
                <label for="inputDiseasesDate" class="label col-sm-3 col-form-label">Case Date</label>
                <div class="col-sm-9">
                  <input class="col-sm-6" nbInput placeholder="Case Open" [nbDatepicker]="formcontrol" fullWidth
                    formControlName="caseOpenDate"
                    [status]="(secondForm.get('caseOpenDate').invalid&& (secondForm.get('caseOpenDate').dirty || secondForm.get('caseOpenDate').touched) )? 'danger' : 'basic' ">
                  <nb-datepicker #formcontrol></nb-datepicker>

                  <input class="col-sm-6" nbInput placeholder="Case Present" [nbDatepicker]="ngmodel" fullWidth
                    formControlName="caseCloseDate"
                    [status]="(secondForm.get('caseCloseDate').invalid&& (secondForm.get('caseCloseDate').dirty || secondForm.get('caseCloseDate').touched) )? 'danger' : 'basic' ">
                  <nb-datepicker #ngmodel></nb-datepicker>

                </div>
              </div>

              <button nbButton nbStepperPrevious>prev</button>
              <button type="button" nbButton nbStepperNext [disabled]="secondForm.invalid"
                (click)="onSecondFormSubmit()">next</button>
            </form>
          </nb-card-body>
        </nb-card>

      </nb-step>


      <nb-step label="Third step">
        <nb-card>
          <nb-card-header>Diseases Details</nb-card-header>
          <nb-card-body>
            <form [formGroup]="thirdForm">


              <!-- <button  (click)="functionTwo()">Test</button> -->
              <div class="form-group row">
                <label for="inputDoctorsFeedback" class="label col-sm-3 col-form-label">Doctor's Feedback</label>
                <div class="col-sm-9">
                  <textarea type="text" nbInput fullWidth formControlName="doctorsFeedback"
                    placeholder="Doctor's Feedback"></textarea>
                </div>
              </div>


              <div class="form-group row">
                <label for="inputPrescription" class="label col-sm-3 col-form-label">Prescription</label>
                <div class="col-sm-9">
                  <textarea type="text" nbInput fullWidth formControlName="prescription" placeholder="Prescription"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <label for="inputPrescription" class="label col-sm-3 col-form-label">Lab Report</label>
                <div class="col-sm-9">

                <ngx-dropzone (change)="onSelectDropZone($event)">
                  <ngx-dropzone-label>Upload Image here</ngx-dropzone-label>
                  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onSelectDropZone(f)">
                    <!-- <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label> -->
                  </ngx-dropzone-image-preview>
                </ngx-dropzone>


                </div>
              </div>
              <button nbButton nbStepperPrevious>prev</button>
              <button type="button" nbButton nbStepperNext [disabled]="thirdForm.invalid"
              (click)="onThirdFormSubmit()">next</button>
            </form>
          </nb-card-body>
        </nb-card>
      </nb-step>




      <nb-step [hidden]="true" label="Fourth Step">
        <div class="step-container">


          <!-- <nb-card [nbSpinner]="true" nbSpinnerStatus="basic">
            <nb-card-body>
              Please wait your data is uploading
            </nb-card-body>
          </nb-card> -->

          <!-- <button [nbSpinner]="loading" nbSpinnerStatus="success" nbButton (click)="toggleLoadingAnimation()">
            Download
          </button> -->

          <div *ngIf="showThankYouMessage">
            <h3>Thank you</h3>
            <h4>Your report will be generated shortly</h4>
          </div>

          <div *ngIf="!showThankYouMessage">
            <h4>Do you want to upload the your Data</h4>
            <button [nbSpinner]="loading" nbSpinnerStatus="success" nbButton (click)="onUploadDataBtn()" [nbSpinner]="loading" >Upload Data</button>
          </div>


          </div>
      </nb-step>


    </nb-stepper>
  </nb-card-body>
</nb-card>
